@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
//gradient
$background-left-gradient: linear-gradient(
  190deg,
  rgba(233, 66, 255, 1) 10%,
  rgba(136, 56, 255, 1) 100%
);
$background-right-gradient: linear-gradient(
  190deg,
  rgba(233, 66, 255, 10%) 10%,
  rgba(136, 56, 255, 10%) 100%
);
$header-gradient: linear-gradient(
  -45deg,
  rgba(233, 66, 255, 1) 10%,
  rgba(136, 56, 255, 1) 100%
);
$buttons-gradient: linear-gradient(
  45deg,
  rgba(233, 66, 255, 1) 30%,
  rgba(136, 56, 255, 1) 100%
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}
